@font-face {
    font-family: 'Grenadier';
    src: url('fonts/GrenadierNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BabesInToyland';
    src: url('fonts/BabesInToylandNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdineKirnberg';
    src: url('fonts/adine kirnberg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	position: relative;
	top: -10px;
	left: 0px;
	margin: 0px;
	padding: 0px;

	width: 100vw;
	min-height: 100vh;
	z-index: 0;

	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 100%;
	line-height: 1.25;

	background: #030333;
	background: linear-gradient(#5050DD, #000009);
	box-shadow: 0 0 calc(5vw + 5vh) rgba(0,0,0,0.9) inset;
	box-sizing: border-box;
	overflow-x: hidden;
}

header {
	position: relative;
	display: flex;
	flex: basis;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;

	padding: 100px 0px 40px 0px;
	margin: 0px auto 10px auto;
	max-width: 100vw;
	z-index: 0;
	overflow: hidden;
}
.octopus {
	content: '';
	position: absolute;
	width: 99.5vw;
	max-width: 1100px;
	height: auto;
	background: url("images/Octopus.svg") no-repeat center center;
	filter: opacity(20%);
	transform: translate(calc(50vw - 50%), -35.75%) rotate(-45deg);
	z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Grenadier', sans-serif;
	font-weight: lighter;
	line-height: 1;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 500%;
}
h2 {
	font-size: 300%;
}
p {
	margin: 10px;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-basis: 100%;
	margin: 30px 10px;
	padding: 0px 20px;
	z-index: 0;
}

.cursive {
	font-family: 'AdineKirnberg', cursive;
	line-height: 75%;
}
.jumbo {
	font-size: 250%;
}
.wumbo {
	font-size: 350%;
}
.thin-font {
	font-weight: lighter;
}
.grenadier {
	font-family: 'Grenadier', sans-serif;
}
.squish-height {
	line-height: 50%;
	margin: 0px;
	padding: 0px;
}
.header-image-container {
	top: 20px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.header-image {
	position: relative;
	top: 15px;
	width: 100%;
	max-width: 600px;
	padding: 0px 10px;
	margin: 0px;
	box-sizing: border-box;
}
.image-button {
	width: 100px;
	height: 100px;
}
.icon-logo {
	height: 80px;
	width: auto;
	margin: 10px;
	padding: 0px;
	filter: saturate(0%) brightness(1000%);
}
.icon-logo--large {
	height: 125px;
}
.icon-logo:hover, .icon-logo:active, .icon-logo:focus {
	filter: brightness(100%) saturate(100%);
}
.icon-grid {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	width: 100%;
	max-width: 600px;
}
.mini {
	font-size: 60%;
}

.full-width {
	width: 100%;
}

.main-content {
	display: flex;
	flex: basis;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;

	margin: 0px auto;
	padding: 0px 10px;
	font-size: 120%;
}
.double-hr {
	position: relative;
	z-index: 0;
	margin: 0px;
	padding: 10px 0px;
	border: none;
}
.double-hr::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 50%;
	z-index: 0;
	width: 90%;
	max-width: 600px;
	height: 100%;
	border-top: 2px solid white;
	transform: translate(-50%);
}
.double-hr::after{
	content: '';
	position: absolute;
	top: 8px;
	left: 50%;
	z-index: 0;
	width: 85%;
	max-width: 570px;
	height: 100%;
	border-top: 1px solid white;
	transform: translate(-50%);
}
.double-hr--flipped::after{
	top: -7px;
}
.double-hr--flipped {
	padding-top: 10px;
}

/* Form Stuff */
form {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 40px 10px 60px 10px;
	z-index: 0;
}
fieldset {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	padding: 15px 30px;

	border: 10px double white;
}
label {
	white-space: nowrap;
	margin: 5px 5px 5px 5px;
	padding: 1px 0px;

	font-size: 100%;
}
input {
	margin: 5px 40px 5px 5px;
	padding: 1px 5px;

	font-family: 'Josefin Sans', sans-serif;
	font-size: 100%;
	text-align: center;

	width: 175px;
	box-sizing: border-box;
}
legend {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	font-size: 250%;
	color: white;
	padding: 0px 15px;
	width: auto;
}
.hidden {
	display: none !important;
}
.two-column {
	display: flex;
	flex-wrap: none;
	width: 100%;

	justify-content: space-between;
	text-align: right;
}
.labeled-input {
	display: flex;
	flex-wrap: none;
	margin: 0px 0px 0px auto;

	justify-content: flex-end;
	text-align: right;
}
.two-column > .labeled-input {
	min-width: 50%;
}
.submit-button {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	font-size: 250%;
	color: white;
	margin: 20px auto 0px auto;
	padding: 0px 64px;

	width: auto;
	max-width: 90%;

	border: none;
	background: none;
	box-sizing: border-box;
	cursor: pointer;
}
.submit-button:hover, .submit-button:active, .submit-button:focus {
	font-weight: 400;
}
.behind-line {
	position: relative;
	top: -1.25em;

	width: 1em;
}
.behind-line-left {
	margin: 0px 4em 0px 0px;
}
.behind-line-right {
	margin: 0px 0px 0px 4em;
}
.squish-columns {
	display: flex;
	flex-wrap: none;

	justify-content: center;
}

@media screen and (max-width: 850px), screen and (orientation: portrait) {
	header {
		padding-top: 75px;
	}
	h1 {
		font-size: 400%;
	}
	body {
		font-size: 20px;
	}
	section {
		margin: 20px 10px;
	}
	.jumbo {
		font-size: 200%;
	}
	.wumbo {
		font-size: 300%;
	}
	.labeled-input {
		display: block;
		white-space: normal;
		text-align: center;

		min-width: 50%;
		max-width: 100%;
	}
	.two-column {
		flex: none;
		flex-wrap: wrap;
	}
	.two-column > .labeled-input {
		min-width: 0px;
		width: 100%;
		max-width: 100%;
	}
	label {
		display: block;
		margin: 3px;
		white-space: normal;

		flex: none;

		min-width: 0px;
		max-width: 100%;
	}
	input {
		margin: 3px auto 20px auto;
		min-width: 50%;
	}
	fieldset {
		padding: 15px 10px;
		max-width: 100%;
	}
	form {
		position: relative;
		max-width: 100%;
		padding: 0px 10px;
	}
	legend {
		font-size: 250%;
	}
	.submit-button {
		padding: 0px;
		font-size: 250%;
	}
}

@media screen and (max-width: 700px) {
	header::before {
		top: -34vw;
		width: 100vw;
		height: 100vw;
	}
	h1 {
		font-size: 300%;
	}
	body {
		font-size: calc(15px + 2vw);
	}
	form {
		width: 100%;
	}
	legend {
		font-size: 200%;
	}
	.submit-button {
		font-size: 200%;
	}
	.behind-line {
		top: -1.1em;
		width: 0.5em;
	}
	.behind-line-left {
		margin: 0px 3.1em 0px 0px;
	}
	.behind-line-right {
		margin: 0px 0px 0px 3.1em;
	}
}
